$font-family-challenge-primary: "Lexend Deca", sans-serif;
$font-family-challenge-secondary: "Nunito", sans-serif;

$text-color-primary: #FAFAFA;
$testimonial-text-color: #f6e2aa; 
$bg-color: #212121;

$color-line-separator:#FFF;