.about{
    &__header{
        margin-top: 2em;
        text-align: center;
        font-family: $font-family-challenge-secondary;
    }

    &__image {
        width: 100%;
        max-width: 500px;
        height: auto;
        border-radius: 20px;
      }
}