.highlights{
    &__header{
        margin-top: 2em;
        text-align: center;
        font-family: $font-family-challenge-secondary;
    }
}

.highlights-card__img{
    height: 100%;
    background-size: contain;
    object-fit: cover;
}